$bg-primary: #181818;
$bg-darker: #0e0e0e;
$bg-lighter: #242424;
$bg-lighter-hover: #3b3b3b;

$acc-one: #646cff;
$acc-two: #ff636b;
$acc-three: #6bff63;
$acc-four: #ffb347;

$acc-one-hover: #525af2;
$acc-two-hover: #f2525a;
$acc-three-hover: #5af252;
$acc-four-hover: #f2a138;
